*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body{
    background-color: black;
    font-family: sans-serif;
    font-size: 16px;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.outerCircle{
    width: 260px;
    height: 260px;
    background: white;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;

}

.animation-bg{
    background:linear-gradient(-45deg,#ee7752,orange,yellow,#e73c7e,#23a6d5,#23d5ab);
    background-size: 400% 400%;
    animation:gradient 5s ease infinite;

}
@keyframes gradient{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}




.innerCircle{
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background: black;
    align-items: center;
    justify-content: center;
    display: flex;
}
   
.text{
    color: white;
    font-size: 23px;
    
}
.minute{
    font-size: 43px;
}
.sec{
    font-size: 34px;
}
.milisec{
    font-size: 23px;
}
.button-wrapper{
    width: 250px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;

}
.button{
    width: 50px;
    height:50px;
    border-radius: 50px;
    border: 2px solid white;
    background-color: black;
    color: white;
    cursor: pointer;
}
.button:hover{
    background-color: white;
    color: black;
}
.laps{
    list-style: none;
    color: white;
    height:200px;
    width: 250px;
    overflow: auto;
    position: relative;
    padding: 0px 0px;
    margin-top: 30px;
}
.laps::-webkit-scrollbar{
    display: none;
}
.lap-item
{
    display: inline-block;
    width: 100%;
    padding: 10px;
    /*background:red;*/
    text-align: center;
    border: 1px solid #444;
    border-radius: 50px;
    margin-bottom: 15px;
}
.number{
    color: #cccccc;
}
.times-stamp{
    display: inline-block;
    margin-left:25px;
}
.lap-clear-button{
    position: fixed;
    display: block;
    z-index: 1000;
   bottom: 35px;
   left: 50%;
   transform: translate(-50%);
    width: 130px;
    padding: 10px 0;
    border-radius: 50px;
    background-color:rgba(255,255,255,0.9) ;
    border: 1px solid white;
    cursor: pointer;

}
.hidden{
    visibility: hidden;
}

